#
# This is the master xinetd configuration file. Settings in the
# default section will be inherited by all service configurations
# unless explicitly overridden in the service configuration. See
# xinetd.conf in the man pages for a more detailed explanation of
# these attributes.

defaults
{
# The next two items are intended to be a quick access place to
# temporarily enable or disable services.
#
#	enabled		=
#	disabled	=

# Define general logging characteristics.
{% if xinetd_defaults_log_type is defined %}
	log_type	= {{ xinetd_defaults_log_type|join(' ') }} 
{% else %}
	log_type	= SYSLOG daemon info 
{% endif %}
{% if xinetd_defaults_log_on_failure is defined %}
	log_on_failure	= {{ xinetd_defaults_log_on_failure|join(' ') }}
{% else %}
	log_on_failure	= HOST
{% endif %}
{% if xinetd_defaults_log_on_success is defined %}
	log_on_success	= {{ xinetd_defaults_log_on_success|join(' ') }}
{% else %}
	log_on_success	= PID HOST DURATION EXIT
{% endif %}

# Define access restriction defaults
#
{% if xinetd_defaults_no_access is defined %}
	no_access	= {{ xinetd_defaults_no_access }}
{% else %}
#	no_access	=
{% endif %}
{% if xinetd_defaults_only_from is defined %}
	only_from	= {{ xinetd_defaults_only_from }}
{% else %}
#	only_from	=
{% endif %}
{% if xinetd_defaults_max_load is defined %}
	max_load	= {{ xinetd_defaults_max_load }}
{% else %}
#	max_load	= 0
{% endif %}
{% if xinetd_defaults_cps is defined %}
	cps		= {{ xinetd_defaults_cps|join(' ') }}
{% else %}
	cps		= 50 10
{% endif %}
{% if xinetd_defaults_instances is defined %}
	instances	= {{ xinetd_defaults_instances }}
{% else %}
	instances	= 50
{% endif %}
{% if xinetd_defaults_per_source is defined %}
	per_source	= {{ xinetd_defaults_per_source }}
{% else %}
	per_source	= 10
{% endif %}

# Address and networking defaults
#
{% if xinetd_defaults_bind is defined %}
	bind		= {{ xinetd_defaults_bind }}
{% else %}
#	bind		=
{% endif %}
{% if xinetd_defaults_mdns is defined %}
	mdns		= {{ xinetd_defaults_mdns }}
{% else %}
#	mdns		= yes
{% endif %}
{% if xinetd_defaults_v6only is defined %}
{%   if xinetd_defaults_v6only %}
	v6only		= yes
{%   else %}
	v6only		= no
{%   endif %}
{% else %}
	v6only		= no
{% endif %}

# setup environmental attributes
#
{% if xinetd_defaults_passenv is defined %}
	passenv		= {{ xinetd_defaults_passenv }}
{% else %}
#	passenv		=
{% endif %}
{% if xinetd_defaults_groups is defined %}
{%   if xinetd_defaults_groups %}
	groups		= yes
{%   else %}
	groups		= no
{%   endif %}
{% else %}
	groups		= yes
{% endif %}
{% if xinetd_defaults_umask is defined %}
	umask		= {{ xinetd_defaults_umask }}
{% else %}
	umask		= 002
{% endif %}

# Generally, banners are not used. This sets up their global defaults
#
{% if xinetd_defaults_banner is defined %}
	banner		= {{ xinetd_defaults_banner }}
{% else %}
#	banner		=
{% endif %}
{% if xinetd_defaults_banner_fail is defined %}
	banner_fail	= {{ xinetd_defaults_banner_fail }}
{% else %}
#	banner_fail	=
{% endif %}
{% if xinetd_defaults_banner_success is defined %}
	banner_success	= {{ xinetd_defaults_banner_success }}
{% else %}
#	banner_success	=
{% endif %}
}

{% if xinetd_includedir is defined %}
includedir {{ xinetd_includedir }}
{% else %}
includedir /etc/xinetd.d
{% endif %}
 
