# {{ ansible_managed }}

defaults
{
	banner		= {{ '/etc/xinetd.banner' if xinetd_defaults_banner is defined else '' }}
	banner_fail	= {{ '/etc/xinetd.banner_fail' if xinetd_defaults_banner_fail is defined else '' }}
	banner_success	= {{ '/etc/xinetd.banner_success' if xinetd_defaults_banner_success is defined else '' }}
	bind		= {{ xinetd_defaults_bind }}
	cps		= {{ xinetd_defaults_cps }}
	groups		= {{ 'yes' if xinetd_defaults_groups|bool else 'no' }}
	instances	= {{ xinetd_defaults_instances }}
	log_on_failure	= {{ xinetd_defaults_log_on_failure|join(' ') }}
	log_on_success	= {{ xinetd_defaults_log_on_success|join(' ') }}
	log_type	= {{ xinetd_defaults_log_type|join(' ') }}
	max_load	= {{ xinetd_defaults_max_load }}
	mdns		= {{ 'yes' if xinetd_defaults_mdns|bool else 'no' }}
	no_access	= {{ xinetd_defaults_no_access }}
	only_from	= {{ xinetd_defaults_only_from }}
	passenv		= {{ xinetd_defaults_passenv }}
	per_source	= {{ xinetd_defaults_per_source }}
	umask		= {{ xinetd_defaults_umask }}
	v6only		= {{ 'yes' if xinetd_defaults_v6only|bool else 'no' }}
}

includedir {{ xinetd_includedir }}
