#
# This is the master xinetd configuration file. Settings in the
# default section will be inherited by all service configurations
# unless explicitly overridden in the service configuration. See
# xinetd.conf in the man pages for a more detailed explanation of
# these attributes.

defaults
{
# The next two items are intended to be a quick access place to
# temporarily enable or disable services.
#
#	enabled		=
#	disabled	=

# Define general logging characteristics.
	log_type	= {{ xinetd_defaults_log_type|join(' ') if xinetd_defaults_log_type is defined else 'SYSLOG daemon info' }} 
	log_on_failure	= {{ xinetd_defaults_log_on_failure|join(' ') if xinetd_defaults_log_on_failure is defined else 'HOST' }}
	log_on_success	= {{ xinetd_defaults_log_on_success|join(' ') if xinetd_defaults_log_on_success is defined else 'PID HOST DURATION EXIT' }}

# Define access restriction defaults
#
	no_access	= {{ xinetd_defaults_no_access if xinetd_defaults_no_access is defined else '' }}
	only_from	= {{ xinetd_defaults_only_from if xinetd_defaults_only_from is defined else '' }}
	max_load	= {{ xinetd_defaults_max_load if xinetd_defaults_max_load is defined else '' }}
	cps		= {{ xinetd_defaults_cps|join(' ') if xinetd_defaults_cps is defined else '50 10' }}
	instances	= {{ xinetd_defaults_instances if xinetd_defaults_instances is defined else '50' }}
	per_source	= {{ xinetd_defaults_per_source if xinetd_defaults_per_source is defined else '10' }}

# Address and networking defaults
#
	bind		= {{ xinetd_defaults_bind if xinetd_defaults_bind is defined else '0.0.0.0' }}
	mdns		= {{ 'yes' if xinetd_defaults_mdns is defined and xinetd_defaults_mdns else 'no' }}
	v6only		= {{ 'yes' if xinetd_defaults_v6only is defined and xinetd_defaults_v6only else 'no' }}

# setup environmental attributes
#
	passenv		= {{ xinetd_defaults_passenv if xinetd_defaults_passenv is defined else '' }}
	groups		= {{ 'yes' if xinetd_defaults_groups is defined and xinetd_defaults_groups else 'no' }}
	umask		= {{ xinetd_defaults_umask if xinetd_defaults_umask is defined else '002' }}

# Generally, banners are not used. This sets up their global defaults
#
	banner		= {{ '/etc/xinetd.banner' if xinetd_defaults_banner is defined else '' }}
	banner_fail	= {{ '/etc/xinetd.banner_fail' if xinetd_defaults_banner_fail is defined else '' }}
	banner_success	= {{ '/etc/xinetd.banner_success' if xinetd_defaults_banner_success is defined else '' }}
}

includedir {{ xinetd_includedir if xinetd_includedir is defined else '/etc/xinetd.d' }}
 
