# {{ ansible_managed }}

service {{ item }}
{
{% for key, value in xinetd_d[item].items()|sort %}
{%   if value is sameas true %}
    {{ key }} = yes
{%   elif value is sameas false %}
    {{ key }} = no
{%   elif value is string %}
    {{ key }} = {{ value|string }}
{%   elif value is number %}
    {{ key }} = {{ value|int }}
{%   elif value is iterable %}
    {{ key }} = {{ value|join(' ') }}
{%   else %}
    {{ key }} = {{ value }}
{%   endif %}
{% endfor %}
}
